td.pic
    each value, key in item.attachements.pictures
      img(src="#{value}", alt="#{key}")
td.title
    a(href="item#show/#{item.id}")= item.item.label
td.tags
    ul
        each value, key in item.tags.wikidata.P31
          each v, k in value
            a(href="#{key}")
                = v.fr
td.source
    span= item.history.last.from.label.fr
    span= item.history.last.date

td.attachements
    //- span= item.trace[0]
td.comment
    span= item.comment
td.actions
    a.edit(title="Editer")
        i.fa.fa-pencil
    a.delete(title="Supprimer")
        i.fa.fa-times