td
    a(href="transaction#show/#{transaction.id}")= transaction.title
td
    span= transaction.category[0]
    br
    span= transaction.category[1]
    br
    span= transaction.category[2]
    br
td
    span= transaction.barcode
td
    span= transaction.url
td
    //- span= transaction.trace[0]
td
    span= transaction.comment
td
    a.delete Supprimer /
    a.dropdown(href='#', data-dropdown='drop1')
        | Dropdown Button
        i.fa.fa-caret-down
        ul#drop1.f-dropdown(data-dropdown-content='data-dropdown-content')
          li
            a.delete Supprimer
            li
                a(href='#') This is another
                li
                    a(href='#') Yet another
